# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js
/.cache

# testing
/coverage

# production
/build
/functions
/media
/test

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# etc
.eslintcache
yarn-error.log
*.json
.exe

# log
/log

# vendor
/vendor